<div class="wrapper wrapper-full-page ">
  <div class="page-header register-page header-filter" filter-color="black">
    <div class="container ">
      <div class="row ">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup pt-3 pb-1">
            <h3 class="card-title text-center ">Register</h3>
            <div class="card-body">
              <hr />
              <div class="row register-block">
                <div class="col-md-12 mr-auto">
                  <form
                    class="form"
                    [formGroup]="rForm"
                    (ngSubmit)="registerUser(rForm.value)"
                  >
                    <div class="mt-5 col-md-12 pl-0">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Email"
                          formControlName="email"
                        />
                      </div>
                      <div
                        class="error-msg"
                        *ngIf="
                          !rForm.controls['email'].valid &&
                          rForm.controls['email'].touched
                        "
                      >
                        <small>Valid Email <strong>required</strong> </small>
                      </div>
                    </div>

                    

                    

                    

                    <div class="col-md-12 row pt-4 pr-0">
                      <div class="col-md-6 px-0">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input
                            [type]="hide ? 'text' : 'password'"
                            placeholder="Password"
                            class="form-control"
                            formControlName="password"
                          />
                          <mat-icon
                            class="password-show mt-2"
                            matSuffix
                            (click)="hide = !hide"
                            >{{
                              hide ? 'visibility' : 'visibility_off'
                            }}</mat-icon
                          >
                        </div>
                        <div
                          class="error-msg"
                          *ngIf="
                            !rForm.controls['password'].valid &&
                            rForm.controls['password'].touched
                          "
                        >
                          <small
                            >Password <strong>required</strong> and need to have
                            at least <strong>8</strong> characters.</small
                          >
                        </div>
                      </div>

                      <div class="col-md-6 px-0">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock</i>
                            </span>
                          </div>
                          <input
                            [type]="hide2 ? 'text' : 'password'"
                            class="form-control"
                            placeholder="Confirm Password"
                            formControlName="confirmPassword"
                          />
                          <mat-icon
                            class="password-show mt-2"
                            matSuffix
                            (click)="hide2 = !hide2"
                            >{{
                              hide2 ? 'visibility' : 'visibility_off'
                            }}</mat-icon
                          >
                        </div>
                        <div
                          class="error-msg"
                          *ngIf="
                            !rForm.controls['confirmPassword'].valid &&
                            rForm.controls['confirmPassword'].touched
                          "
                        >
                          <small
                            >Confirm Password <strong>not match </strong> with
                            the password
                          </small>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-md-12 px-0 d-flex justify-content-center align-items-center pt-3"
                    >
                      <div class="form-check mb-1 px-0">
                        <label class="form-check-label pr-0">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            checked=""
                            formControlName="agreement"
                          />
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          I agree to the
                          <a href="#something">terms and conditions</a>.
                        </label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button
                        class="btn btn-primary btn-round mt-4 mr-3"
                        [routerLink]="['/login']"
                      >
                        Back
                      </button>
                      <button
                        class="btn btn-primary btn-round mt-4"
                        [disabled]="!rForm.valid"
                        type="submit"
                      >
                        Get Started
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer-cmp class="footer-display"></app-footer-cmp>
  </div>
</div>
