.error-msg {
  margin-top: -5px;
  margin-left: 50px;
  color: red;
}

.footer-popup {
  z-index: 1000;
}

.register-page {
  margin: 0 !important;
}

.card-signup {
  margin: 0 !important;
}

.img-tag {
  height: 100px;
}

.password-show {
  cursor: pointer;
}

.wrapper-full-page {
  background: url(../../../../assets/img/background.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-block {
  margin-top: -32px !important;
}

.footer-display {
  display: block;
}

@media only screen and (max-width: 600px) {
  .footer-display {
    display: none;
  }
}
