<div class="logo ">
  <a class="simple-text">
    <div class="text-center">
      <img
        class="img-logo"
        src="assets/img/live train logo.png"
      />
    </div>
  </a>
  <div class="simple-text logo-normal text-capitalize "></div>
</div>

<div class="sidebar-wrapper">
  <div class="user" *ngIf="!is_admin">
    <div class="photo"><img src="{{ photo }}" /></div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        <span> {{ username }} <b class="caret"></b> </span>
      </a>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/user-profile']"
            >
              <span class="sidebar-mini">P</span>
              <span class="sidebar-normal">Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuitem of menuItems"
      class="nav-item"
    >
      <!-- If is a single link -->
      <a
        [routerLink]="[menuitem.path]"
        *ngIf="menuitem.type === 'link'"
        class="nav-link"
      >
        <i class="material-icons">{{ menuitem.icontype }}</i>
        <p>{{ menuitem.title }}</p>
      </a>
      <!-- If it have a sub-menu -->
      <a
        data-toggle="collapse"
        href="#{{ menuitem.collapse }}"
        *ngIf="menuitem.type === 'sub'"
        (click)="updatePS()"
        class="nav-link"
        style="color: #efae00 "
      >
        <i class="material-icons" style="color: #efae00 ">{{
          menuitem.icontype
        }}</i>
        <p>{{ menuitem.title }}<b class="caret"></b></p>
      </a>

      <!-- Display the sub-menu items -->
      <div
        id="{{ menuitem.collapse }}"
        class="collapse"
        *ngIf="menuitem.type === 'sub'"
      >
        <ul class="nav">
          <li
            routerLinkActive="active"
            *ngFor="let child_item of menuitem.children"
            class="nav-item"
          >
            <a [routerLink]="[menuitem.path, child_item.path]" class="nav-link">
              <span class="sidebar-mini">{{ child_item.ab }}</span>
              <span class="sidebar-normal">{{ child_item.title }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a (click)="logOut()" class="nav-link" style="cursor:pointer">
        <i class="material-icons">power_settings_new</i>
        <p style="color: white">LogOut</p>
      </a>
    </li>
  </ul>
</div>
