<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li class="cursor ">
          <a
            [class]="
              loginStatus === true
                ? 'custom_text_loggedIn'
                : 'custom_text_loggedOut'
            "
            target="_blank"
          >
         Live Trains
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      <p
        [class]="
          loginStatus === true
            ? 'custom_text_loggedIn'
            : 'custom_text_loggedOut'
        "
        href="#"
      >
        Copyright &copy; {{ test | date: 'yyyy' }} Live Trains All Rights
        Reserved.
      </p>
    </div>
  </div>
</footer>
