.cursor {
  cursor: pointer;
}
.custom_text_loggedIn {
  color: #3c4858 !important;
}

.custom_text_loggedOut {
  color: white !important;
}

.custom_text_loggedOut:hover {
  color: white !important;
}
.custom_text_loggedIn:hover {
  color: #3c4858 !important;
}
