<div class="main-content">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
          <h4 class="card-title">Train Stations</h4>
        </div>
      </div>
      <div class="card-body ">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search" type="text"
                        type="text"
                        [(ngModel)]="searchText"
                        [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                          <mat-icon 
                          matTooltip="View"
                        data-toggle="modal"
                        data-target="#myModal1" 
                        (click)="changeState(null,false)">add</mat-icon>
                        </button>
                  </div>

                  </div>
                </form>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      <!-- <th>
                        ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Country
                      </th> -->
                      <th>
                        Name
                      </th>
                      <th>
Location
                      </th>
                      <th>
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let trainStation of trainStations | filter : searchText" >
                        <td>
                          <span *ngIf="trainStation.name">{{trainStation.name}}</span> 

                        </td>
                        <td>
                           <span *ngIf="trainStation.location != null">{{trainStation.location.name}}</span> 
                        </td>
                     
                        <td>
                          <div class="row justify-content-start">

                            <i class="material-icons" (click)="deleteStation(trainStation)">
                              delete
                            </i>

                            &nbsp;
                            <i class="material-icons"
                            matTooltip="View"
                          data-toggle="modal"
                          data-target="#myModal1"
                          (click)="changeState(trainStation._id,true)">
                              edit
                            </i>
                            &nbsp;
                            <i class="material-icons">
                              desktop_windows
                            </i>

                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div
  class="modal fade"
  id="myModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body modal-body">
          <div class="example-container">
            <form [formGroup]="trainStationForm">
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let location of locations" [value]="location._id">{{location.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div
                  class="error-msg"
                  *ngIf="
                    !trainStationForm.controls['location'].valid &&
                    trainStationForm.controls['location'].touched
                  "
                >
                  <small>Location is <strong>required</strong> </small>
                </div>
              <mat-form-field>
                <input matInput placeholder="Location Name"  formControlName="locationName">
              </mat-form-field>
            <span>
                <div
                class="error-msg"
                *ngIf="
                  !trainStationForm.controls['locationName'].valid &&
                  trainStationForm.controls['locationName'].touched
                "
              >
                <small>Location Name is <strong>required</strong> </small>
              </div>
            </span>
              

            </form>
            </div>
         
              <button *ngIf="!isUpdate"
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
                [disabled]="!trainStationForm.valid"
                (click)="createStation()"
              >
                Save
              </button>
              <button *ngIf="isUpdate"
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
                [disabled]="!trainStationForm.valid"
                (click)="updateStation()"
              >
                Update
              </button>
          </div>
    </div>
  </div>
</div>