.sk-circle {
  margin: 100px auto;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 5000;
}

@media only screen and (max-width: 600px) {
  .sk-circle {
    top: 25%;
    left: 24%;
  }
}
