.searchBox {
  border: 0;
  background-color: #aadbfd;
  color: white;
}

.searchBox::placeholder {
  color: white;
}

.mapSearchArea {
  background-color: white;
  color: #f1c034;
  height: 4vh;
  font-size: 0.8em;
  background-color: #aadbfd;
}

.demo-chart {
  height: 30vh;
}

.demo-chart2 {
  height: 58vh;
}

card-dark-background {
  background-color: #000000 !important;
  border-radius: 10px !important;
}

@media only screen and (max-width: 500px) {
  .phone-height {
    padding-top: 98vh !important;
  }

  .mobile-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mobile-right-padding {
    padding-right: 0px !important;
  }

  .mobile-left-padding {
    padding-left: 0px !important;
  }
}
