<div class="main-content">
  <div class="container-fluid mobile-right-padding">
    <div class="row">
      <div class="col-md-5 mt-2 mobile-left-padding" style="height: 75vh;">
        <div
          class="card-header rounded col-md-12"
          style="background-color: #243438;color: white;"
        >
          Train & Stations Around In Sri Lanka
        </div>

        <div
          class="d-flex justify-content-end col-md-12 mt-0 pt-0 mapSearchArea input-group"
        >
          <div class="input-group-prepend">
            <div class="input-group-text pl-0 pr-1">
              <i class="material-icons nav-icon mx-0 px-0" style="color: white;"
                >search</i
              >
            </div>
          </div>
          <input
            #search
            class="searchBox col-md-12 form-control"
            autocorrect="off"
            autocapitalize="off"
            placeholder="Search for location"
            spellcheck="off"
            id="location"
          />
        </div>

        <agm-map
          style="height: 100%;"
          [zoom]="zoom"
          [latitude]="lat"
          [longitude]="lng"
          [scrollwheel]="false"
          [styles]="styles"
        >
          <agm-marker
            *ngFor="let item of saleStoreArray"
            [latitude]="item.latitude"
            [longitude]="item.longitude"
            [iconUrl]="item.main_store ? mani_store_mapIcon : store_mapIcon"
            (click)="onMouseOver(infoWindow, $event)"
          >
            <agm-info-window [disableAutoPan]="false" #infoWindow>
              <div style="background-color: #787878;" class="rounded p-1">
                <div class="mb-1">
                  <strong style="color: #f1c034;">Name :</strong>
                  <div style="color: white">
                    {{ item.name
                    }}{{ item.main_store ? ' (main sale)' : ' (sale)' }}
                  </div>
                </div>
                <div class="mb-1">
                  <strong style="color: #f1c034;">Address :</strong>
                  <div style="color: white">{{ item.address }}</div>
                </div>
                <div class="mb-1">
                  <strong style="color: #f1c034;">Phone :</strong>
                  <div style="color: white">{{ item.phone }}</div>
                </div>
                <div class="mb-1">
                  <strong style="color: #f1c034;">Email :</strong>
                  <div style="color: white">{{ item.email }}</div>
                </div>
                <div
                  class="mb-2 col-md-12 d-flex justify-content-end mobile-padding"
                  *ngIf="isAdmin"
                >
                  <button
                    mat-icon-button
                    class="p-0 m-0"
                   
                    matTooltip="Sale Info"
                  >
                    <mat-icon style="color: #fefefe">info</mat-icon>
                  </button>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
        
      </div>
      
    </div>
  </div>
</div>
