<div class="main-content">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
          <h4 class="card-title">Game</h4>
        </div>
      </div>
      <div class="card-body "></div>
    </div>
  </div>
</div>
