agm-map {
    height: 400px;
}

.anim {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    margin-left: -158px;
    /* background: red; */
    position: relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 1s infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
  .success{
    font-weight: bold !important;
    color: #26de36 !important;
  }
  .danger{
    font-weight: bold !important;
    color: #ff2727 !important;
  }



  /* ///////////////////////////////////// */
  
  .cells {
    display: flex;
    flex-wrap: wrap;
    .cell {
      border: 1px solid #eee;
    }
  }
  .success{
    color: #26de36 !important;
  }
  .danger{
    color: red !important;
  }

  .blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
     animation: blink .75s linear infinite;
  }
  @-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
  }
  @-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
  }
  @-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
  }
  @-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
  }