<div class="main-content">
  <!-- <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
          <h4 class="card-title">Api Test</h4>
        </div>
      </div>
      <div class="card-body ">
<div class="container-fluid">
<div class="row"> -->

    <div class="card">
        <div class="card-header card-header-tabs card-header-info card-header-icon">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <!-- <span class="nav-tabs-title">Tasks:</span> -->
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                <i class="material-icons">bug_report</i>Location
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                <i class="material-icons">code</i> Live Trains
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                <i class="material-icons">cloud</i> Direction
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" href="#game" data-toggle="tab">
                                <i class="material-icons">videogame_asset</i> Game
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <mat-radio-group aria-label="Select an option"  [(ngModel)]="radioStatus">
                        <mat-radio-button  value="1">Journey Details</mat-radio-button> &nbsp;
                        <mat-radio-button value="2">Validate Location </mat-radio-button> &nbsp;
                        <mat-radio-button value="3">Delay Time</mat-radio-button> &nbsp;
                      </mat-radio-group>

<form action="" *ngIf="radioStatus==1">
  <div class="container">
    <div class="row">
     
<!-- <div class="col-md-6">
  
    <mat-form-field>
        <mat-label>Start Station</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option >s</mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="col-md-6">
    <mat-form-field>
        <mat-label>End Station</mat-label>
        <mat-select >
          <mat-option>None</mat-option>
          <mat-option >s</mat-option>
        </mat-select>
      </mat-form-field>
</div> -->
 </div>

 
 <div class="row">
   <div class="col-md-3">
      <button
      mat-raised-button
      type="submit"
      class="btn btn-primary"
   
    >
      Send
    </button>
   </div>
   <div class="col-md-4">
     
<img *ngIf="messageSuccess" src="https://www.gamedev.net/uploads/trophies/missile__animated__by_hex_01-daya7ar.gif.eeb7d09a0c69346964fe62927fcc430a.gif" class="anim" alt="Smiley face" height="42" width="42">

   </div>
 </div>
  </div>
 


<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>Detail Journey Description</mat-card-title> -->
      <mat-card-subtitle>Detail Journey Description</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</form>


<!-- ------------------------------------------------------------------------------------------------------ -->
<form [formGroup]="realTimeDataForm" action="" *ngIf="radioStatus==3">
    <div class="container">
      <div class="row">
       <div class="col-md-2">
        <label style="margin-top: 17px !important;">Start: </label>
       </div>
       <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput  formControlName="start_time" type="number" placeholder="Minutes Before" >
        </mat-form-field>
       </div>
  <div class="col-md-4">
    
      <mat-form-field appearance="legacy">
          <mat-label>Latitude</mat-label>
          <input matInput placeholder="Placeholder"  formControlName="first_location_lat">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        
        </mat-form-field>
  </div>
  <div class="col-md-4">
      <mat-form-field appearance="legacy">
          <mat-label>Longitude</mat-label>
          <input matInput placeholder="Placeholder"  formControlName="first_location_lon">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       
        </mat-form-field>
  </div>
   </div>
   <div class="row">
    <div class="col-md-2">
        <label style="margin-top: 17px !important;">End: </label>
       </div>
       <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput  type="text" placeholder="Current Time"  disabled >
        </mat-form-field>
       </div>
    <div class="col-md-4">
      
        <mat-form-field appearance="legacy">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="Placeholder"  formControlName="second_location_lat">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="legacy">
            <mat-label style="margin-top: 20px !important;">Longitude</mat-label>
            <input matInput placeholder="Placeholder"  formControlName="second_location_lon">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
         
          </mat-form-field>
    </div>
     </div>
  
   
   <div class="row">
     <div class="col-md-4">
        <button
        mat-raised-button
        type="submit"
        class="btn btn-primary"
        (click)="sendRealTimeDataRequest()"
        [disabled]="!realTimeDataForm.valid"
      >
        Send
      </button>
      <img *ngIf="messageSuccess" src="https://www.gamedev.net/uploads/trophies/missile__animated__by_hex_01-daya7ar.gif.eeb7d09a0c69346964fe62927fcc430a.gif" class="anim" alt="Smiley face" height="42" width="42">

    </div>
   </div>
    </div>
   
  
  
  <mat-card class="example-card" *ngIf="realTimeDataResponce">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
     
      <mat-card-content>
          <mat-card flex-gt-sm>
              <mat-card-title>Delay Time Result</mat-card-title>
              <mat-card-subtitle>Real time api full result for given details</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-list>
                <h3 matSubheader>Metadata</h3>
                <mat-list-item>
                  <mat-icon matListAvatar>account_box</mat-icon>
                  <h4 matLine>Train Name</h4>
                  <p matLine>{{realTimeDataResponce.data.trainName}}</p>
                </mat-list-item>
                <mat-divider matInset></mat-divider>
                <mat-list-item>
                  <mat-icon matListAvatar>directions_railway</mat-icon>
                  <h4 matLine>Start Station</h4>
                  <h4 matLine>{{realTimeDataResponce.data.startStation.name}}</h4>
                </mat-list-item>
                <mat-divider matInset></mat-divider>
                <mat-list-item>
                    <mat-icon matListAvatar>directions_railway</mat-icon>
                    <h4 matLine>End Station</h4>
                    <h4 matLine>{{realTimeDataResponce.data.endStation.name}}</h4>
                  </mat-list-item>
                                  <mat-divider></mat-divider>
                <h3 matSubheader>Time data</h3>
                <mat-list-item>
                  <mat-icon matListAvatar>timer</mat-icon>
                  <h4 matLine> {{realTimeDataResponce.data.firstTime}}</h4>
                  <p matLine>First location time</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListAvatar>timelapse</mat-icon>
                    <h4 matLine> <p matLine>{{realTimeDataResponce.data.secondTime}}</p></h4>
                    <p matLine>Second location time</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                      <mat-icon matListAvatar>timer_off</mat-icon>
                      <h4 matLine> <p matLine>{{realTimeDataResponce.data.arrvalTime}}</p></h4>
                      <p matLine>Arrival time</p>
                    </mat-list-item>
                <mat-divider matInset></mat-divider>
                
                <h3 matSubheader>Speed And Diuration</h3>
                <mat-list-item>
                    <mat-icon matListAvatar>flight_land</mat-icon>
                    <h4 matLine> <p matLine>{{realTimeDataResponce.data.toDiurationInSec}}</p></h4>
                    <p matLine>Duration - In seconds</p>
                  </mat-list-item>
                  <mat-list-item>
                      <mat-icon matListAvatar>flight_land</mat-icon>
                      <h4 matLine> <p matLine>{{realTimeDataResponce.data.toDistanceInMeters}}</p></h4>
                      <p matLine>Duration - In minutes</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListAvatar>speed</mat-icon>
                        <h4 matLine> <p matLine>{{realTimeDataResponce.data.speedMetersPerSecond}}</p></h4>
                        <p matLine>Speed - Meters per second </p>
                      </mat-list-item>
                      <mat-list-item>
                          <mat-icon matListAvatar>speed</mat-icon>
                          <h4 matLine> <p matLine>{{realTimeDataResponce.data.speedMetersPerMinute}}</p></h4>
                          <p matLine>Speed - Meters per minutes</p>
                        </mat-list-item>
                
              </mat-list>
              
              <mat-card-actions>
                <button mat-button color="accent" class="text-upper">Edit</button>
              </mat-card-actions>
            </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </form>
  <!-- ------------------------------------------------------------------------------------------ -->
<form [formGroup]="validateLocationForm" *ngIf="radioStatus==2">
    <div class="container">
      <div class="row">
       
  <div class="col-md-6">
    
      <mat-form-field appearance="legacy">
          <mat-label>Latitude</mat-label>
          <input formControlName="lat" type="number" matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        
        </mat-form-field>
  </div>
  <div class="col-md-6">
      <mat-form-field appearance="legacy">
          <mat-label>Longitude</mat-label>
          <input formControlName="lng" type="number" matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       
        </mat-form-field>
  </div>
   </div>
  
   
   <div class="row">
     <div class="col-md-4">
        <button
        mat-raised-button
        type="submit"
        class="btn btn-primary"
        (click)="validatePointRequest()"
      >
        Send
      </button>
     </div>
   </div>
    </div>
   
  
  
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <mat-card-title>Detail Journey Description</mat-card-title> -->
        <mat-card-subtitle>Validation Result</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-content>
          <mat-chip-list aria-label="Fish selection">
            
              <mat-chip  *ngIf="validatePointTatus" color="primary" selected>You are on the railway path &nbsp; <mat-icon  matBadgeColor="success" class="success">done</mat-icon></mat-chip>
              <mat-chip *ngIf="!validatePointTatus && validatePointTatus != null" color="primary" selected>You are not on the railway path &nbsp; <mat-icon  matBadgeColor="success" class="danger">close</mat-icon></mat-chip>
            
            </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </form>
                </div>
                <div class="tab-pane" id="messages">
                    <div class="col-md-12">
                        <div class="card">
                            <!-- <div class="card-header card-header ">
                                <h4 class="card-title ">Simple Table</h4>
                                <p class="card-category"> Here is a subtitle for this table</p>
                            </div> -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Train Name
                                            </th>
                                            <th>
                                                Start
                                            </th>
                                            <th>
                                                End
                                            </th>
                                            <!-- <th>
                                                Start Time 
                                            </th> -->
                                            <th>
                                                End Time
                                            </th>
                                            <!-- <th>
                                                Salary
                                            </th> -->
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of realTimeTableData">
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    {{item.start.name}}
                                                </td>
                                                <td>
                                                    {{item.end.name}}
                                                </td>
                                                <!-- <td>
                                                    <span class="blink danger">{{item.short_start_time}}</span>
                                                </td> -->
                                                <td >
                                                    <span class="blink success">{{item.short_end_time}}</span>
                                                </td>
                                                <!-- <td class="text-primary">
                                                    $36,738
                                                </td> -->
                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings">
                    <div class="row">
                        <div class="col-md-5 mt-2 mobile-left-padding" style="height: 75vh;">
                          <!-- <div
                            class="card-header rounded col-md-12"
                            style="background-color: #243438;color: white;"
                          >
                            Train & Stations Around In Sri Lanka
                          </div> -->
                  
                          <div
                            class="d-flex justify-content-end col-md-12 mt-0 pt-0 mapSearchArea input-group"
                          >
                            <div class="input-group-prepend">
                              <div class="input-group-text pl-0 pr-1">
                                <i class="material-icons nav-icon mx-0 px-0" style="color: white;"
                                  >search</i
                                >
                              </div>
                            </div>
                            <input
                              #search
                              class="searchBox col-md-12 form-control"
                              autocorrect="off"
                              autocapitalize="off"
                              placeholder="Search for location"
                              spellcheck="off"
                              id="location"
                            />
                          </div>
                  
                          <agm-map
                          #AgmMap
                            style="height: 90%;"
                            [latitude]="lat"
                            [longitude]="lng"
                            [scrollwheel]="false"
                            [styles]="styles"
                            [zoom]="zoom"
                          >  <agm-marker class="agm-marker"
                          *ngFor="let m of markers; let i = index"

                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                          [markerDraggable]="m.draggable"
                          [iconUrl]="m.icon"
                          >
                            
                      </agm-marker>
                      
                     </agm-map>
                          <!-- <button type="button" (click)="getDirection()">Get</button> -->
                        </div>
                        <div class="col-md-4 mt-5 mobile-left-padding">
                          <div class="container">
                            <div class="row">
                                <mat-form-field class="example-full-width">
                                    <input  matInput 
                        type="text"
                        [(ngModel)]="autocompleteInput"
                        #addresstext 
                        
                        [ngModelOptions]="{standalone: true}"
                        >
                                </mat-form-field>
                            </div>
                            <div class="row">
                              
                          <!-- <mat-form-field class="example-full-width">
                              <input  matInput 
                  type="text"
                  [(ngModel)]="autocompleteInput2" 
                  #addresstext1 
                  (setAddress)="getAddress($event)"
                  [ngModelOptions]="{standalone: true}"
                  >
                          </mat-form-field> -->
                            </div>
                          </div>  
                        </div>
                        <div class="col-md-3 mt-5 mobile-left-padding">
                            <div class="col-md-3 mt-5 mobile-left-padding">
                            <div class="example-button-row">
                              <button mat-raised-button (click)="nearByPlaceRequest()" color="primary">Near By Places</button>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            <div class="tab-pane" id="game">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">
                      <div class="card">
                        
                        <div class="container">
                          <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">
                                <div class="cells" [ngStyle]="ngStyleCells">
                                    <div class="cell" [ngStyle]="ngStyleCell(idx)" *ngFor="let cell of cells; let idx = index;"></div>
                                  </div>
                              </div>
                              <div class="col">
                              
                                </div>
                          </div>
                        </div>
                      
                          
                          <div style="color: black  ">
                            Score: {{this.snake.tail.length + 1}}
                          </div>
                          <div>
                            Time Played: {{this.time * this.timestep / 1000 | number:'1.0-0'}} s
                          </div>
                          <div *ngIf="dead" style="color: red">
                            You died.
                          </div>
                        </div>
                  </div>
                  <div class="col-md-4">
                    
                    </div>
                </div>
              </div>
              
           
              
                
                </div>
              
          
        </div>
    </div>
<!-- 
</div>
</div>
        
      </div>
    </div>
  </div>-->
</div> 
