.custom-button-color {
  background: linear-gradient(60deg, #0f1018, #576ca3) !important;
}

.error-msg {
  margin-top: -5px;
  margin-left: 50px;
  color: red;
}
.wrapper-full-page {
  background: url(../../../../assets/img/background.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-display {
  display: block;
}

@media only screen and (max-width: 600px) {
  .footer-display {
    display: none;
  }
}
