<div class="wrapper wrapper-full-page ">
  <div class="page-header login-page header-filter" filter-color="blue">
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form
          class="form"
          [formGroup]="rForm"
          (ngSubmit)="userLogin(rForm.value)"
        >
          <div class="card card-login card-hidden">
            <div class="card-header card-header-info text-center pb-3">
              <h4 class="card-title ">Live Trains Admin Login</h4>
            </div>
            <div class="card-body ">
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons"> email</i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    formControlName="username"
                  />
                </div>
                <div
                  class="error-msg"
                  *ngIf="
                    !rForm.controls['username'].valid &&
                    rForm.controls['username'].touched
                  "
                >
                  <small>Valid Email is <strong>required</strong> </small>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                </div>
                <div
                  class="error-msg"
                  *ngIf="
                    !rForm.controls['password'].valid &&
                    rForm.controls['password'].touched
                  "
                >
                  <small>Password is <strong> required </strong> </small>
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-link"
                [routerLink]="['/register']"
                >Sign Up</a
              >
              <button
                href="javascript:void(0)"
                type="submit"
                class="btn btn-info "
                [disabled]="!rForm.valid"
              >
                Login
              </button>
            </div>
            <div
              class="col-md-12 d-flex justify-content-center py-2"
              *ngIf="rForm.controls['username'].valid"
            >
              <a
                (click)="forgetPassword()"
                style="color: #5a5555; font-style:unset;cursor: pointer;"
                >Forget password ?</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <app-footer-cmp class="footer-display"></app-footer-cmp>
  </div>
</div>
