<div class="wrapper">
  <div
    class="sidebar"
    data-color="white"
    data-background-color="black"
    data-image="./assets/img/sidebar-1.jpg"
  >
    <app-sidebar-cmp></app-sidebar-cmp>
  </div>
  <div class="main-panel">
    <app-navbar-cmp></app-navbar-cmp>
    <router-outlet></router-outlet>
    <app-footer-cmp class="footer-display"></app-footer-cmp>
  </div>
</div>
